body{
    margin: 0px;
}
.influencer-css{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 70px;
    margin-left: 120px;
    display: flex;
    

}
.paragraph{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
 
}
.prebook{
    display: flex;
    
    align-items: center;
    height: 50px;
    width: 150px;
    background-color: #E02C6D;
    border: none;
    border-radius: 25px;
    color:  #FFFFFF;
    font-size: 15px ;
     padding-left: 50px;
}
.fas{
    padding-left: 20px;
}
.main-camera{
    height: 440px;
    width: 410px;
    border-radius: 60%;
   
    
}
.main-camera:hover img{
    transform: scale(1.2) rotate(180deg);
    overflow: hidden;
    transition: transform 2s ease-in-out;

}
.collections {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px 30px;
    padding-left: 220px;
    
    
}
.item-collection{
    padding:10px;
    box-shadow: 2px 2px 3px 2px rgb(235, 222, 222);
    background-color: #ffffff00;
    border-radius: 5px;

    
}
.item-collection img{
    width: 280px;
}
.item-collection p{
    color: #787885;
    font-family: Poppins;
}
.see-more{
    display: flex;
    align-items: center;
    justify-content: right;
    color: #E02C6D;
    font-size: 20px ;
     
}
.fa-star, .fa-star-half-alt{
    font-size: 10px;
    color: #FB8200;
    padding : 0px 4px 0px 0px;
}
.rating{
    display: flex;
    align-items: center;  
    
    
    }
.container{
    font-family: Poppins;
    box-sizing: border-box;
    background-color: thistle;
    text-align: center;
    height: 400px;
    width: 300px;
    margin: 0% 40% 0% 40%;

}
.btn{

    background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.btn:hover{
    opacity: 1;
}
 
.footer-part{
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: darkslateblue;
    padding: 10px;
    color: white;
}
.fab{
    color: white;
    border-radius: 10px;
    border-spacing: 10px;
    padding-right: 10px;
    
}
.fab:hover{
    color: rgba(7, 7, 252, 0.466);
}

/* for smartphone users */
@media screen and (max-width:767px) {
    .influencer-css{
       display: flex;
       flex-direction: column; 
       font-size: 2em;
       margin-left: 0.2em;
    }
    .main-camera{
        height: 30%;
        width: 30%;

       
    }
    .collections{
        padding-left: 3.5em;
        grid-template-columns: 200em;
    }
    .definition{
        display: flex;
        flex-wrap: wrap;
        word-wrap: break-word;
    }
    .container{
        margin: 3.5em;
    }
}

/* for tabs */
@media  screen and(min-width:768px) and (max-width:1280px) 
{
    .influencer-css{
        display: flex;
        grid-template-columns: 200em 200em;
        font-size: 0.5em;
        margin-left: 0%;
     }
     .main-camera{
         height: 30%;
         width: 30%;
 
        
     }
     .collections{
         padding-left: 3.5em;
         
     }
     .definition{
         display: flex;
         flex-wrap: wrap;
         word-wrap: break-word;
     }
     .container{
         margin: 3.5em;
     }
}

 